.answer {
  padding: 10px;
  background-color: #322d2d;

  color: #dcd6d6;
  font-family: Lucida Console, monospace;
  // font-weight: 700;
  border: 1px solid blue;
  border-radius: 10px;
  &:focus {
    background-color: blue;
  }
  &:hover {
    background-color: blue;
    color: white;
  }
  width: auto;
}
